* {
    margin: 0;
    padding: 0;
    font-family: 'Edu SA Beginner', cursive;
    /* background: rgb(231,221,219);
    background: linear-gradient(180deg, rgba(231,221,219,1) 0%, rgba(64,75,120,1) 100%); */
}

nav {
    margin: 0;
    padding: 0;
    background: rgb(241,238,233);
    background: linear-gradient(131deg, rgba(241,238,233,1) 0%, rgba(241,238,234,1) 99%);
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

img {
    position: relative;
    left: 800px;
    width: 200px;
    height: 200px;
}

nav ul li {
    display: inline-block;
    margin-left: 100px;
    list-style-type: none;
}
.links {
    font-size: 20px;
}

.banner {
    background-color: linear-gradient(180deg, rgba(231,221,219,1) 0%, rgba(64,75,120,1) 100%);
    background-image: url("../images/2g9a5126.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: x-large;
}