* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

nav {
    height: 120px;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
}

img {
    position: relative;
    left: 720px;
    width: 200px;
    height: 200px;
}

nav ul li {
    display: inline-block;
    margin-left: 100px;
    list-style-type: none;
}
.links {
    flex-flow: column wrap;
}

.banner {
    background-color: rgb(243, 236, 239);
    background-image: url("../images/2g9a5126.jpeg");
    background-position: center;
    background-size: cover;
    margin-top: 90px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: x-large;
    font-family: serif;
}